{% load static %}
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'dashboard/assets/images/logo.png' %}" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">UG Scholar</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-back'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="{% url 'index' %}">
                <div class="parent-icon"><i class='bx bx-home'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li>
            <a href="{% url 'authors' %}">
                <div class="parent-icon"><i class='bx bx-group'></i>
                </div>
                <div class="menu-title">Authors</div>
            </a>
        </li>
        <li>
            <a href="{% url 'publications' %}">
                <div class="parent-icon"><i class='bx bx-book-content'></i>
                </div>
                <div class="menu-title">Publications</div>
            </a>
        </li>
        <li class="menu-label">Break Down</li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-time'></i>
                </div>
                <div class="menu-title">Break Down</div>
            </a>
            <ul>
                <li> <a href="{% url 'colleges' %}"><i class='bx bx-radio-circle'></i>Colleges</a>
                </li>
                <li> <a href="{% url 'faculties' %}"><i class='bx bx-radio-circle'></i>Faculties</a>
                </li>
                <li> <a href="{% url 'departments' %}"><i class='bx bx-radio-circle'></i>Departments</a>
                </li>
            </ul>
        </li>
        <li class="menu-label">Accounts</li>
        <li>
            <a href="#" target="_blank">
                <div class="parent-icon"><i class="bx bx-user"></i>
                </div>
                <div class="menu-title">Administrators</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</div>