asgiref==3.10.0
Django==5.2.16
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
dj-database-url>=2.2,<4
google-search-results==2.4.2
gunicorn==23.0.0
Markdown==3.9
Pillow==11.3.0
psycopg[binary]>=3.2,<4
python-dotenv>=1.1,<2
requests>=2.34,<3
sqlparse==0.5.3
tzdata==2025.2
